<po-page-edit>
  <po-container class=" po-sm-12 po-md-12  po-lg-3 po-mt-5">
    <form formPrincipal="ngForm" class="po-row">
      <po-widget class="po-md-12 po-mb-5">
        <h2 class="po-text-center po-font-display">Cadastrar-se</h2>
      </po-widget>
      <po-container class="po-md-12 po-mt-4">
        <po-login
          p-label="Username"
          class="po-md-12"
        ></po-login>
        <po-email
          p-label="Email"
          class="po-md-12"
        ></po-email>
        <po-password
          p-label="Password"
          class="po-md-12"
        ></po-password>
        <po-button
          p-label="Cadastrar-se"
          class="po-md-12"
          p-kind="primary"
        ></po-button>
      </po-container>
      <po-widget class="po-md-12 po-mt-5">
        <p class="po-text-center">Já tem uma conta?</p>
        <po-button
          p-label="Logar"
          class="po-md-12"
        ></po-button>
      </po-widget>
    </form>
  </po-container>
</po-page-edit>
